@model Calendar
@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Layouts/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("Employee"))
    {
        Layout = "~/Views/Layouts/_EmployeeLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Layouts/_ManagerLayout.cshtml";
    }
}
<h1>Delete Event</h1>

<p>Are you sure you want to delete this event?</p>

<table>
    <tr>
        <th>Date:</th>
        <td>@Model.Date.ToShortDateString()</td>
    </tr>
    <tr>
        <th>Day of Week:</th>
        <td>@Model.DayOfWeek</td>
    </tr>
    <tr>
        <th>Public Holiday:</th>
        <td>@(Model.IsPublicHoliday ? "Yes" : "No")</td>
    </tr>
    <tr>
        <th>Event Description:</th>
        <td>@Model.EventDescription</td>
    </tr>
</table>

<form asp-action="CalendarDelete">
    <input type="hidden" asp-for="Date" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="CalendarIndex">Cancel</a>
</form>
