@model Calendar
@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Layouts/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("Employee"))
    {
        Layout = "~/Views/Layouts/_EmployeeLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Layouts/_ManagerLayout.cshtml";
    }
}
<h1>Edit Event</h1>

<form asp-action="CalendarEdit">
    <div class="form-group">
        <label>Date</label>
        <input type="date" asp-for="Date" class="form-control" />
    </div>
    <div class="form-group">
        <label>Event Description</label>
        <input type="text" asp-for="EventDescription" class="form-control" />
    </div>
    <div class="form-group">
        <label>Is Public Holiday</label>
        <input type="checkbox" asp-for="IsPublicHoliday" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p><a asp-action="CalendarIndex">Back to Calendar</a></p>
