<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Export Tasks</title>
</head>
<body>
    <h2>Export Tasks</h2>
    <form method="post" action="@Url.Action("ExportTasks")">
        <p>
            <button type="submit">Export</button>
        </p>
    </form>
</body>
</html>
