@{
    ViewData["Title"] = "Home Page";
}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
     <img src='/img/1.png' style="background-size: cover;"   class="d-block w-100" alt="Slider 1"/> 
      <div class="carousel-caption">
        <h5 style="color: black; font-weight: bold;">Welcome to our timesheet management system</h5>
        <p style="color: black; font-weight: bold;">Efficiently track your team's time and increase productivity.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src='/img/2.png' style="background-size: cover;"   class="d-block w-100" alt="Slider 2" background="cover">
      <div class="carousel-caption">
        <h5>Automate your timesheet management process</h5>
        <p>Streamline your payroll and billing with our easy-to-use system.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src='/img/3.png' style="background-size: cover;"  class="d-block w-100" alt="Slider 3">
      <div class="carousel-caption">
        <h5>Improve your team's productivity with accurate time tracking</h5>
        <p>Ensure timely delivery of projects and meet your clients' expectations.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src='/img/4.png' class="d-block w-100" alt="Slider 3">
      <div class="carousel-caption">
        <h5>Efficiently track your team's time and increase productivity.</h5>
          <p>Keep Track of the Project and Ensure Changes.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
